/* ============================================
   LOGO CONTAINER
   Placeholder for future title screen content
   ============================================ */

.logo-container {
  position: absolute;
  left: 10%;
  top: 14%;
  width: 80%;
  height: 72%;
  z-index: 2;
  pointer-events: none;
}

.logo-container.hidden {
  display: none;
}
